.icon-matrix {
	background-image: url('../img/matrix.svg');
}

#matrix-integration-room-picker {
	position: absolute;
	top: 20px;
	left: 25vw;
	width: 50vw;
}

#matrix-integration-room-picker input {
	width: 40vw;
}

.matrix-integration-room-picker-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.matrix-integration-room-picker-list > div {
	border: 3px solid gray;
	border-radius: 20px;
	cursor: pointer;
	margin: 3px;
	padding-left: 4px;
	padding-right: 4px;
	height: 1.6em;
	text-align: center;
}

.matrix-integration-room-picker-list > div > img {
	width: 1.3em;
	height: 1.3em;
}